/* .container {
  border: 4px solid;
}
.container .item {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  border-radius: 10px;
  font-size: 40px;
  margin: 10px;
}
/* float는 해제해줘야함 */
/* .container .item.four {
  width: 150px;
  height: 150px;
  background-color: orange;
}

.float {
  float: left;
}
/* 가상요소만들기 */
/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
} */
/* ---------------------------- */
/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}

.container {
  border: 4px solid;
}
.container .item {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  font-size: 40px;
} */
/* ---------------------------- */
/* div {
  width: 200px;
  height: 100px;
  border: 4px solid;
  display: inline;
}

.float {
  float: left;
  display: block;
} */
/* ---------------------------- */
/* .parent3 {
  width: 350px;
  height: 250px;
  background-color: tomato;
}
.parent2 {
  width: 300px;
  height: 200px;
  background-color: skyblue;
  perspective: 300px;
}
.parent1 {
  width: 250px;
  height: 150px;
  background-color: orange;
  position: relative;
  transform: rotateX(45deg);
}
.child {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  position: fixed;
  right: 0;
  bottom: 0;
} */
/* Position1----------------------- */

/* .item {
  width: 100px;
  height: 100px;
  font-size: 40px;
}

.item:nth-child(1) {
  background-color: royalblue;
}

.item:nth-child(2) {
  background-color: orange;
  transform: scale(1.5);
  position: relative;
  z-index: 1;
}

.item:nth-child(3) {
  background-color: tomato;
  opacity: 0.5;
} */

/* Position2----------------------- */
/* 
.item {
  width: 200px;
  height: 150px;
  background-color: orange;
  display: inline;
  position: fixed;
} */

/* Position3----------------------- */

/* .container {
  width: 400px;
  border: 4px solid;
  display: flex;
  flex-wrap: wrap-reverse;
}
.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
} */

/* Flex container1----------------------- */

/* .container {
  border: 4px solid;
  display: flex;
}

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
} */

/* Flex container1----------------------- */

/* .container {
  height: 400px;
  border: 4px solid;
  display: flex;
  align-items: baseline;
}

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
}
.container .item:nth-child(2) {
  font-size: 80px;
} */

/* Flex container1----------------------- */

/* .container {
  width: 350px;
  height: 350px;
  border: 4px solid;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.container .item {
  width: 100px;
  background-color: orange;
  font-size: 40px; 
} */

/* Flex container2----------------------- */

/* .container {
  border: 4px solid;
  display: flex;
}

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
  border: 2px solid;
}
.container .item:nth-child(2) {
  flex-grow: 1;
} */

/* Flex items----------------------- */

/* .container {
  width: 250px;
  border: 4px solid;
  display: flex;
}
.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
  border: 2px solid;
  flex-shrink: 1;
}
.container .item:nth-child(2) {
  flex-shrink: 4;
} */

/* Flex items----------------------- */
/* .container {
  border: 4px solid;
  display: flex;
}
.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
  border: 2px solid; */
/* flex-basis: 0;
  flex-grow: 1; */
/* flex: 1 1 auto; */
/*주의) basis부분을 생략하면 기본값인 auto가 아니라 숫자 0이 들어간다!!!*/
/* } */
/* 
.container .item:nth-child(2) {
  flex-grow: 2;
} */
/* Flex items----------------------- */

/* .container {
  border: 4px solid;
  display: flex;
}
.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
  border: 2px solid;
}
.container .item:nth-child(1) {
  order: 0;
}
.container .item:nth-child(3) {
  order: -1;
} */

/* Flex items----------------------- */

/* .container {
  width: 350px;
  height: 300px;
  border: 4px solid;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
  border: 2px solid;
}
.container .item:nth-child(1) {
  align-self: flex-start;
} */

/* Flex items----------------------- */

/* .container {
  border: 4px solid;
  display: inline-flex;
}
.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
  border: 2px solid;
  margin-right: 10px;
}
.container .item:last-child {
  margin-right: 0;
} */

/* Flex items----------------------- */

/* .container {
  border: 4px solid;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 200px 200px 200px;
}

.container .item {
  border: 2px solid;
  font-size: 30px;
}
.container .item:nth-child(2) {
  grid-row: span 2;
} */

/* grid----------------------- */

/* .container {
  height: 400px;
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

.container .item {
  border: 2px solid;
  font-size: 30px;
  background-color: orange;
} */

/* grid----------------------- */

/* .container {
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
  grid-auto-flow: dense;
}

.container .item {
  border: 2px solid;
  font-size: 20px;
  background-color: orange;
}

.container .item:nth-child(5) {
  grid-column: 4;
} */

/* grid----------------------- */

/* .container {
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column dense;
}

.container .item {
  border: 2px solid;
  font-size: 20px;
  background-color: orange;
} */
/* .container .item:nth-child(1) {
  grid-column: 2 / span 2;
}
.container .item:nth-child(2) {
  grid-column: span 3;
} */

/* grid----------------------- */

/* .container {
  width: 500px;
  height: 500px;
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(3, 70px);
  grid-template-columns: repeat(3, 70px);
  justify-content: stretch;
  align-content: stretch;
}

.container .item {
  background-color: orange;
  border: 2px solid;
} */

/* grid----------------------- */

/* .container {
  width: 500px;
  height: 500px;
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 명시적 지정 */
/* grid-template-columns: repeat(3, 1fr);
  justify-content: noraml;
  align-content: normal;
  justify-items: end;
  align-items: end;
} */

/* .container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 2px solid;
}  */

/* grid container----------------------- */

/* .container {
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "main main aside"
    ". . aside"
    "footer footer footer";
  /* grid-gap: 10px 40px; */
/* grid-row-gap: 10px;
  grid-column-gap: 40px;
} */

/* .container > * {
  border: 2px solid;
}
.container header {
  grid-area: header;
}
.container main {
  grid-area: main;
}
.container aside {
  grid-area: aside;
}
.container footer {
  grid-area: footer;
}  */

/* grid container----------------------- */
/* 
.container {
  width: 300px;
  height: 300px;
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
}
.container .item {
  border: 2px solid;
  background-color: orange;
  font-size: 20px;
}
.container .item:nth-child(1) {
  grid-column-start: span 2;
}
.container .item:nth-child(2) {
  grid-row-start: span 2;
}
.container .item:nth-child(3) {
  grid-column-start: span 3;
} */

/* grid items----------------------- */

/* .container {
  width: 300px;
  height: 300px;
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.container .item {
  border: 2px solid;
  background-color: orange;
  font-size: 20px;
}
.container .item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
} */

/* grid items----------------------- */

/* .container {
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: 100px 200px;
  grid-auto-rows: minmax(100px, auto);
}

.container .item {
  border: 2px solid;
  background-color: orange;
  font-size: 30px;
}
.container .item:nth-child(1) {
  grid-row: 4;
}
.container .item:nth-child(3) {
  height: 200px;
  grid-row: 3;
} */

/* grid Items 2----------------------- */

/* .container {
  border: 4px solid;
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: fit-content(300px) fit-content(300px);
}

.container .item {
  border: 2px solid;
  background-color: orange;
  font-size: 30px;
} */

/* grid에서 컨테이너에서 사용가능한 function----------------------- */

/* .container {
  border: 4px solid;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 100px 100px 1fr 2fr;
}
.container .item {
  border: 2px solid;
  background-color: orange;
} */
/* grid에서 컨테이너에서 사용가능한 function2----------------------- */

/* .container {
  border: 4px solid;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: repeat(4, min-content);
}
.container .item {
  border: 2px solid;
  background-color: orange;
  font-size: 30px;
  word-break: keep-all;
} */
/* grid에서 컨테이너에서 사용가능한 function2----------------------- */

/* .container {
  border: 4px solid;
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.container .item {
  border: 2px solid;
  background-color: orange;
  font-size: 30px;
} */

/* grid에서 컨테이너에서 사용가능한 function2----------------------- */

/* .container {
  width: 150px;
  height: 150px;
  border: 4px solid;
  margin: 100px;
  perspective: 300px;
  perspective-origin: 50% 50%;
}

.container .item {
  width: 150px;
  height: 150px;
  background-color: orange;
  transition-duration: 1s;
}

.container .item:hover {
  transform: rotateY(45deg);
} */

/* Transform 3D----------------------- */

/* .container {
  width: 150px;
  height: 150px;
  border: 4px solid;
  margin: 100px;
  perspective: 300px;
  transform: perspective(300px) rotateX(45deg);
  transform-style: preserve-3d;
}

.container .item {
  width: 150px;
  height: 150px;
  background-color: orange;
  transform: rotateY(45deg);
  transform-style: preserve-3d;
}

.container .item .box {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  transform: rotateX(45deg);
} */

/* Transform 3D----------------------- */

/* .container {
  width: 150px;
  height: 200px;
  border: 4px solid;
  perspective: 300px;
}

.container .item {
  width: 150px;
  height: 200px;
  background-color: orange;
  font-size: 60px;
  transition-duration: 1s;
  backface-visibility: hidden;
}
.container .item.front {
  background-color: orange;
  position: absolute;
}
.container .item.back {
  background-color: royalblue;
  transform: rotateY(-180deg);
}
.container:hover .item.front {
  transform: rotateY(180deg);
}
.container:hover .item.back {
  transform: rotateY(0);
} */

/* Transform 3D----------------------- */

/* .container {
  border: 4px solid;
  /* columns: 300px 3; */
/* column-count: 3;
  column-width: auto;
  /* column-rule: 4px dotted blue; */
/* column-rule-width: 4px;
  column-rule-style: dashed;
  column-rule-color: red;
  column-gap: 40px; */
/* } */

/* CSS-Columns----------------------- */

/* .container {
  filter: hue-rotate(300deg);
}

.container .item {
  width: 120px;
  height: 120px;
  background-image: linear-gradient(orange, royalblue);
}

.container img {
  width: 220px;
}

.cover {
  width: 150px;
  height: 200px;
  border: 4px solid;
  position: fixed;
  top: 30px;
  left: 30px;
  backdrop-filter: blur(10px) grayscale();
} */

/* CSS-Filter----------------------- */

/* :root {
  --color-primary: royalblue;
  --color-danger: red;
  --color-success: yellowgreen;
}
.box {
  width: 200px;
  height: 70px;
  border: 4px solid;
}
.primary {
  background-color: var(--color-primary);
}
.danger {
  --color-danger: hotpink;
  background-color: var(--color-danger);
}
.success {
  background-color: var(--color-success, orange);
  /*var(변수, 변수 초깃값(변수 기본값이랑 동일) 지정(옵션))*/
/* }
.container {
  --color-container: brown;
}
.item {
  width: 100px;
  height: 100px;
  border: 4px solid;
  background-color: var(--color-container);
} */

/* CSS변수----------------------- */

/* .container {
  width: 200px;
  height: 200px;
}

@supports (backdrop-filter: blur(10px)) {
  .container {
    backdrop-filter: blur(10px);
  }
}

@supports not (backdrop-filter: blur(10px)) {
  .container {
    background-image: linear-gradient(orange, royalblue);
  }
}

@supports (display: grid) and (display: flex) {
  .container {
    display: grid;
  }
  .container .item {
    display: flex;
  }
}

@supports not ((display: grid) and (display: flex)) {

}

@supports (display: grid) or (display: flex) {
  .container {
    width: 500px;
  }
}

@supports (--color-primary: orange) {
  /*소괄호 안은 동작 여부와는 관련이 없음! 그냥 브라우저 지원여부만 확인하는 것임*/
/* .container {
    border: 10px solid var(--color-primary, red);
  }
}

@supports not (--color-primary: orange) {
  .container {
    border: 10px solid #ff0000;
  }
}

@supports (selector(:dir(ltr))) {
  .container:dir(rtl) {
    color: red;
    font-size: 50px;
  }
} */
/* CSS-@supports규칙----------------------- */

/* .box {
  width: 100px;
  height: 100px;
  background-color: orange;
} */
/* @media 타입 and (기능) { 스타일 } */
/*타입 종류 : 기본값: all, screen print tv*/
/* @media (orientation: landscape) {
  .box {
    width: 200px;
    background-color: royalblue;
  }
} */

/* CSS-@media----------------------- */
.box {
  width: 100px;
  height: 100px;
  background-color: orange;
}

/* CSS-@media----------------------- */
